/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

.header {
    text-align: center;
    color: #AD4642;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px !important;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }

.nav-bar-color {
    background-color: #495577 !important;
    }

  /* Style legend on Map */
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.min .max {
font-size: 5rem;
}

.jumbotron
{background-color:rgba(218, 217, 217, 0.781);
}

.display-4 {
    font-size: 3.5rem;
    font-weight: BOLDER !important;
    line-height: 3 !important;
    color: #485c7f;
    text-align: center;
}
.lead{
    font-size: 2rem;
    font-weight: 500 !important;
    color: #b46b5b;
    text-align: center;
}

.paragraphs-home {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:	#404346;
text-align: center;

}

.line {
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    width: 1800px;
    background:#8594a4;
    margin-bottom: 50px;
    align-items: center;


}
.graphics{
    width: 1800px;
}
]

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    height: 80px;
}

.navbar-light .navbar-brand {
    color: #F1EEE8 !important;
    font-size: xx-large;
    font-weight: 400;
}
.scroll {
    overflow: scroll!important;
    width: 1000px!important;
    height: 500px!important;
  }
.graph-padding{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: #AD4642;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #AD4642;
    border-color: #AD4642;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #AD4642;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #AD4642 !important;
}

.frontside .card .card-title, .backside .card .card-title {
    color: #AD4642 !important;
    font-size: xx-large !important;
    font-weight: bold! important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#main_header {
    text-align: center;
    margin: 3rem auto;
  }
  .row {
    margin: 1rem;
  }
  .col {
    border-style: none;
    border-width: .25px;
    border-color: '#DBE4EE';
  }
  .st_selector {
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: none;
  }
  
  .yr_selector {
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: none;
  }
  
  .map_container {
    text-align: center;
  }

  body {
    background-color: #dedede;
}

.topbar {
	background: #2A3F54;
	border-color: #2A3F54;
	border-radius: 0px;
}

.topbar .navbar-header a {
	color: #ffffff;
}

.wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: -50px;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    background: #2A3F54;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main {
	width: 100%;
    position: relative;
    padding-bottom:20px;
}

.wrapper.toggled {
	padding-left: 50px;
}

.wrapper.toggled .sidebar {
	left: 0;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 52px;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #e8e8e8;
    padding: 0;
    text-align:center;
}

.sidebar-nav li a:hover, .sidebar-nav li.active a {
    text-decoration: none;
    color: #fff;
    background: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li span, .subbar li span {
	display : none;
}

nav.subbar {
	position: relative;
	width: 100%;
	border-radius: 0px;
	background: #fff;
	margin: 50px 0 -50px 0;
	padding: 10px 0 0 0;
	z-index: 2;
}
nav.subbar > ul.nav.nav-tabs {
	padding: 0 5px;
}

nav.subbar > ul.nav.nav-tabs > li.active > a {
    background: #dedede;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px;
}

.content {
    margin-top: 70px;
    padding: 0 30px;
}

@media(min-width:768px){
	.subbar li span {
		display: inline;
	}
}

@media(min-width:992px) {
    .wrapper {
    	padding-left: 50px;
    }

    .sidebar {
    	left: 0;
    	width: 50px;
	}

	.wrapper.toggled {
		padding-left: 200px;
	}

	.wrapper.toggled .sidebar, .wrapper.toggled .sidebar-nav {
		width: 200px;
	}
	
	.wrapper.toggled .sidebar-nav li a {
		text-align: left;
		padding: 0 0 0 10px;
	}

	.wrapper.toggled .sidebar-nav li span {
		display: inline;
	}

}

.navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
    color: #fff;
}
.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.td_num_value {
    text-align: center;
  }
  .table th {
      color: #124a91;
      background-color: #dbe4ee;
      border-color: #454d55;
  }
  #table_pct_guarant tr th {
      text-align: center;
      color: #fff;
      background-color: #495577;
  }
  #table_pct_guarant tbody {
    background-color: #EFF6FB;
  }
  #pctGuarant_tableHeader {
    padding-bottom: 1rem;
  }
  .my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  .sub_title {
    font-size: 1.5rem;
    color:#AD4642 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.navbar-light .navbar-nav .nav-link {
    color: #F1EEE8 !important;
}

.background{
    background: rgb(207,223,236);
    background: radial-gradient(circle, rgba(207,223,236,1) 0%, rgba(119,147,184,1) 100%);
}

.svg-container{
    position: inherit !important;
    width: 100% !important;
    height: 450px !important;
}

.dash-number{
    color: #EDB763;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
  }

.dash-header {
    text-align: center;
    color: #F1EEE8;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
}