<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J2P2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <!--USE THIS PATH ONCE DEPLOYED TO HEROKU-->
    <!-- <link rel="stylesheet" href= "../css/stylesheet.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<Body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Small Business Administration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="learn-more.html">Learn More</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container ">
        <div class="row h-25">
          <div class="col">
            <h3 class="header">GROUP NAME</h3>
          </div>
          <div class="row h-50">
          <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend, turpis eu tincidunt iaculis, nisl sem fringilla leo, eget dignissim nisi nulla vel elit. 
                Suspendisse ac ultricies lectus, nec auctor lacus. Vivamus a dolor quis turpis lobortis imperdiet et ut purus. Aliquam iaculis imperdiet quam a vehicula. 
                Morbi pellentesque accumsan dui et semper. Interdum et malesuada fames ac ante ipsum primis in faucibus.Morbi facilisis nunc a porttitor feugiat. 
                In posuere odio fermentum nisi sollicitudin, eu ornare dolor gravida. Fusce vehicula ullamcorper est ut egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                Quisque imperdiet, lectus sed finibus malesuada, diam urna elementum eros, eget tincidunt mi leo at mi.Donec aliquam nunc a quam efficitur, a convallis velit egestas. 
                Praesent porta sit amet neque quis ornare. Sed id purus quis nulla molestie condimentum. Donec nec lacus consequat, porta lacus ut, porta mauris. In ac nisi ac elit tristique iaculis eget non sem. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent ullamcorper feugiat erat nec sagittis. 
                Vivamus eget egestas magna.</p>
          </div>
          <hr>
        </div>
        <!-- <div class="row h-50">
          <div class="col">
            1 of 3
          </div>
          <div class="col-10">
            2 of 3 (wider)
          </div>
          <div class="col">
            3 of 3
          </div>
          <div class="row">
            <div class="col">
              1 of 3
            </div>
            <div class="col-10">
              2 of 3 (wider)
            </div>
            <div class="col">
              3 of 3
            </div>
        </div> -->
      </div>

  <footer>
    <p class="paragraphs-home">AUTHORS: JESSICA MURILLO - PARIYA POOCHAROEN - JAMES SMITH<br>
    <a href="https://github.com/jsmith6112/J2P2-Project-2">GitHub</a></p>
  </footer>




    
</Body>
</html>