<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <!--USE THIS PATH ONCE DEPLOYED TO HEROKU-->
  <link rel="stylesheet" href= "../css/stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <!-- Chart.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>


<body>
  <!--NAVIGATION BAR -->
  <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #485c7f;">
    <a class="navbar-brand" href="../Templates/index.html">Small Business Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="../Templates/index.html"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Templates/learn-more.html">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Templates/trends.html">Trends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Templates/about.html">About</a>
        </li>        
      </ul>
    </div>
  </nav>

   <!--END OF NAVIGATION BAR -->

  <div class="jumbotron-fluid jumbotron" style="height: 500px; background-image: url('https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');;">
    <div class="container">
      <h1 class="display-4">SMALL BUSINESS ADMINISTRATION</h1>
    </div>
  </div>

  <div class="container">
    <!-- LEAFLET VISUALIZATION -->
    <div class="row">
      <div class="col-md-7 graphics">
        <div id="map" style="background-color: none; height:350px; width: 100%;"></div>
      </div>
      <div class="col-md-5">
        <h3>GDP BY STATE -- Header to be changed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      </div>
    </div>
    <!-- /.row -->
    <hr>
     <!-- LENDING OVER TIME VISUALIZATION -->
     <div class="row">
      <div class="col-md-7">
        <div id="sbayear"></div>
      </div>
      <div class="col-md-5">
        <h3>LENDING OVER THE DECADE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- UNKNOWN VISUALIZATION -->
    <div class="row">
      <div class="col-md-7 graphics">
        <div id="viz-3" style="background-color: none; height:350px; width: 100%;"></div>
      </div>
      <div class="col-md-5">
        <h3>Header for viz 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      </div>
    </div>
    <!-- /.row -->
    <hr>
  </div>
  <!--UNCOMMENT ONCE IN HEROKU-->
  <script src="../js/app.js"></script>
  <script src="../js/map.js"></script>
  <script src="../js/choropleth.js"></script>
  <script src="../js/industry_class.js"></script>
<!-- PATHS FOR TESTING LOCALLY-->
  <!-- <script src="{{url_for('static', filename='js/config.js')}}"></script> -->
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
  <script src="{{url_for('static', filename='js/map.js')}}"></script>
  <script src="{{url_for('static', filename='js/choropleth.js')}}"></script>
  <script src="{{ url_for('static', filename='js/industry_class.js')}}"></script>
    <footer>
      <p class="paragraphs-home">AUTHORS: JESSICA MURILLO - PARIYA POOCHAROEN - JAMES SMITH - KANDRA ROMANOWSKI<br>
      <a href="https://github.com/jsmith6112/J2P2-Project-2">GitHub</a></p>
    </footer>
  </body>
</html>
