<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loan Map</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>


</head>

<body>

  <!-- Button to Select Year -->


  <!-- USA Map Container -->
  <div id="map" style="background-color: none; height: 100%; width: 100%;"></div>

  <div class="container-sm" id="map"></div>
  <div class="container-md" id="map"></div>
  <div class="container-lg" id="map"></div>
  <div class="container-xl" id="map"></div>

  <div class="btn-group selectYearButton" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">2012</button>
    <button type="button" class="btn btn-secondary">2013</button>
    <button type="button" class="btn btn-secondary">2014</button>
    <button type="button" class="btn btn-secondary">2015</button>
    <button type="button" class="btn btn-secondary">2016</button>
    <button type="button" class="btn btn-secondary">2017</button>
    <button type="button" class="btn btn-secondary">2018</button>
    <button type="button" class="btn btn-secondary">2019</button>
    <button type="button" class="btn btn-secondary">2020</button>
  </div>



  <script src="{{url_for('static', filename='js/config.js')}}"></script>
  <script src="{{url_for('static', filename='js/map.js')}}"></script>
  <script src="{{url_for('static', filename='js/choropleth.js')}}"></script>


</body>

</html>
